/* App.css */

*{
    margin: 0;
    padding: 0;
}

/* index.css */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* AppBar.css */
.app-bar-container {
    height: 80px;
    position: relative;
    background-color:  #304ffe ;
}
.app-bar-header {
    position: absolute;
    top: 35px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto';
    color: white;
}

/* AppBody.css */

@media only screen and (max-width: 990px) {
  /* smaller screen */
  .app-body-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 70px;
    font-family: 'Montserrat';
    font-size: 15px;
  }

  .app-body-heading {
    font-family: 'Arapey';
    font-size: 19px;
  }

  .app-body-heading-center {
    font-family: 'Arapey';
    font-size: 19px;
    text-align: center;
  }

}

@media only screen and (min-width: 990px) {
  /* bigger screen */
  .app-body-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 70px;
    font-family: 'Montserrat';
    font-size: 20px;
  }

  .app-body-heading {
    font-family: 'Arapey';
    font-size: 25px;
  }

  .app-body-heading-center {
    font-family: 'Arapey';
    font-size: 35px;
    text-align: center;
  }
}


.app-body-container-tile {
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 3px;
  padding-right: 3px;
}
.app-body-container-tile-body {
  padding-top: 15px;
}
.app-body-container-tile-heading {
  font-size: 25px;
}



/* ContactMeHorizontalBar.css */

.contact-me-horizontal-bar-container {
    position: absolute;
    top: 80px;
    left: 12%;
    right: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    /* border: 1px solid black; */
    box-shadow: silver;
}

.social-icon {
    margin-left: 15px;
    display:inline-block;
    width: 50px;
    height: inherit;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    border-radius: 10px;
}

#github-icon{
    background: black;
}
  
#linkedin-icon{
    background: #0077b5;
}

#email-icon{
    background: blue;
}

#twitter-icon{
    background: #3299FF;
}

.social-icon i {
    color: white;
}

/* ContactMeSideBar.css */

#contact-me-sidebar-social{
    /* border: 1px solid black; */
    height: 240px;
    width: 55px;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 10;
  }
  #contact-me-sidebar-social ul{
    
    list-style-type: none;
    
  }
  #contact-me-sidebar-social ul li{
  /*   border: 1px solid black; */
    margin-left: 1%;
    height: 60px;
    width: 100%;
    position:relative;
    transition: width .3s;
    opacity: 0.3;
  }
  #contact-me-sidebar-social ul li:hover{
  /*   border: 1px solid black; */
    width: 150%;
    opacity:1;
  }
  
  
  #contact-me-sidebar-social ul a{
    text-decoration: none;
    color: white;
  /*   position: relative; */
  }
  #contact-me-sidebar-github-icon{
    background: black;
  }
  
  #contact-me-sidebar-linkedin-icon{
    background: #0077b5;
  }
  
  #contact-me-sidebar-email-icon{
    background: blue;
  }
  
  #contact-me-sidebar-github-icon div{
    right: 5px;
  }
  
  #contact-me-sidebar-linkedin-icon div{
    right: 10px;
  }
  
  #contact-me-sidebar-twitter-icon div{
    right: 10px;
  }
  
#contact-me-sidebar-email-icon div{
right: 10px;
}
.contact-me-sidebar-social-icon{
position: absolute;
/*   border: 1px solid black; */
width: 40px;
height: 40px;
top: 7px;
}
.contact-me-sidebar-social-icon span i{
font-size: 40px;
/*   border: 1px solid black; */
/*   position: absolute; */

}
  
#contact-me-sidebar-twitter-icon{
background: #3299FF
}


/* Index Horizontal Bar */
.index-horizontal-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: silver;
    border-top: 2px solid #0026ca;
    background-color: #304ffe;
}

.index-icon {
    /* position: relative; */
    float:left;
    width: 33%;
    height: inherit;
}

.index-icon:hover {
    background-color: #0026ca;
}

.index-icon i {
    position: relative;
    left: 38%;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

#index-sidebar {
  direction: rtl;
  height: 240px;
  width: 55px;
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 10;
}

#index-sidebar item > a > div > div {
  margin-right: 1%;
  direction: ltr;
  height: 80px;
  width: 100%;
  transition: width .3s;
  opacity: 0.3;
  background-color: #304ffe;
}

#index-sidebar item > a > div > div:hover{
  width: 150%;
  opacity:1;
}


#index-sidebar item a{
  text-decoration: none;
  color: white;
}

.index-sidebar-icon i {
  font-size: 37px;
  position: relative;
  left: 25%;
  line-height: 60px;
  margin-top: 8px;
  margin-bottom: 8px;
}


@media only screen and (max-width: 990px) {
    #contact-me-sidebar-social {
        display: none;
    }

    .contact-me-horizontal-bar-container {
        display: block;
    }

    .index-horizontal-bar-container {
      display: block;
    }

    #index-sidebar {
      display:none;
    }

}

@media only screen and (min-width: 990px) {
    #contact-me-sidebar-social {
        display: block;
    }

    .contact-me-horizontal-bar-container {
        display: none;
    }
    .index-horizontal-bar-container {
      display: none;
    }
    #index-sidebar {
      display: block;
    }
}
